.page-header {
  margin: 0;
  padding: 0 0 41px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  font-size: 0;
}

@media screen and (max-width: 320px) {
  .page-header {
    padding: 0 0 32px;
  }
}
